{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ],
        [
            "@babel/react",
            {
                "throwIfNamespace": false // defaults to true
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import"
    ]
}